name: build

on:
  push:
    branches-ignore:
      - 'wip-*'
    paths-ignore:
      - 'README.md'

  pull_request:
    branches:
      - 'master'
  schedule:
    - cron: '0 12 * * *'

jobs:
  ci:

    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false

      matrix:
        name:
          - ubuntu-18.04-gcc-7
          - ubuntu-18.04-clang-5.0
          - macOS-latest

        include:
          - name: ubuntu-18.04-gcc-7
            os: ubuntu-18.04
            compiler: gcc
            version: '7'
            ccov: ON
          - name: ubuntu-18.04-clang-5.0
            os: ubuntu-18.04
            compiler: clang
            version: '5.0'
            ccov: OFF
          - name: macOS-latest
            os: macOS-latest
            compiler: xcode
            version: 'NOT USED'
            ccov: OFF

    steps:
      - uses: actions/checkout@v2-beta
        with:
          fetch-depth: 5

      - name: Setup Prerequisites (Linux)
        if: runner.os == 'Linux'
        run: |
          echo 'debconf debconf/frontend select Noninteractive' | sudo debconf-set-selections
          sudo add-apt-repository ppa:ubuntu-toolchain-r/test --yes
          sudo apt-get update --quiet --yes 1>/dev/null

          if [ "${{ matrix.ccov }}" = "ON" ]; then
            sudo apt-get install --no-install-recommends -q -y lcov
          fi

          if [ "${{ matrix.compiler }}" = "gcc" ]; then
            sudo apt-get install --no-install-recommends -q -y gcc-${{ matrix.version }}
            echo "::set-env name=CC::gcc-${{ matrix.version }}"
            echo "::set-env name=CXX::g++-${{ matrix.version }}"
          else
            sudo apt-get install --no-install-recommends -q -y clang-${{ matrix.version }}
            echo "::set-env name=CC::clang-${{ matrix.version }}"
            echo "::set-env name=CXX::clang++-${{ matrix.version }}"
          fi

      - name: Setup Prerequisites (macOS)
        if: runner.os == 'macOS'
        run: |
          sudo xcode-select -switch /Applications/Xcode.app

          echo "::set-env name=CC::$(xcrun -f clang)"
          echo "::set-env name=CXX::$(xcrun -f clang++)"
          echo "::set-env name=SDKROOT::$(xcodebuild -version -sdk macosx Path)"
          echo "::set-env name=PATH::$(dirname $(xcrun -f clang)):$PATH"

      - uses: actions/cache@v1
        name: Setup conan cache
        id: conan-cache
        with:
          path: ~/.conan
          key: ${{ runner.os }}-conan-${{ hashFiles('**/conanfile.txt') }}
          restore-keys: |
            ${{ runner.os }}-conan-

      - uses: actions/cache@v1
        name: Setup pip cache
        id: pip-cache
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          version: 3.8
          architecture: x64

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Configure x64 Debug
        run: |
          $CC --version
          cmake --version

          cmake -S . -Bbuild -DCMAKE_BUILD_TYPE=Debug -DCODE_COVERAGE=${{ matrix.ccov }}
          echo ::set-env name=YTC_TESTS_ROOT::${GITHUB_WORKSPACE}/tests

      - name: Build x64 Debug
        run: cmake --build build -j "$(getconf _NPROCESSORS_ONLN)"

      - name: Create lcov report
        if: matrix.ccov == 'ON'
        run: lcov --directory . --capture --output-file ./tests/coverage.info

      - name: Run Tests
        run: cmake --build build --target check

      - name: Filter out extra files
        if: matrix.ccov == 'ON'
        run: |
          lcov \
            --remove ./tests/coverage.info \
            '/usr/*'                       \
            "${HOME}"'/.conan/*'           \
            '*/tests/*'                    \
            --output-file ./tests/coverage.info

      - name: Output coverage data for debugging
        if: matrix.ccov == 'ON'
        run: lcov --list ./tests/coverage.info

      - name: Upload code coverage report
        if: matrix.ccov == 'ON'
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./tests/coverage.info
          name: codecov-umbrella
          flags: unittests
          fail_ci_if_error: false
